<h1>Edit a Landmark</h1>
<form action="/landmarks/<%= @landmark.id %>" method="POST">
  Landmark Name:
  <input type="text" id="name" value="<%= @landmark.name %>" name="landmark[name]"></br>
  Year Completed:
  <input type="text" id="year_completed" value="<%= @landmark.year_completed %>" name="landmark[year_completed]"></br>
  <br>
  <input type="submit" value="Edit Landmark">
</form>